.borda{
    border: 0px solid black;

}

.centralizar{
   display: flex;
 
}

.bordaPrincipal{
     background-color: rgb(192, 192, 209);
    margin: auto;
    border: 5px solid rgb(0, 0, 0);
    width: 800px;
    height: 700px;
}
.bordaConsole{

    border: 5px solid rgb(0, 0, 0);
    height: 330px;
    background-color: black ;
    color: aliceblue;
    text-align: center;
    overflow: auto;
    
}

.calculadora{
     border: 2px dashed red;
    width: 500px;
    height: 500px;
}


.resultado{
    
    width: 50%;
    height: 30px;
    font-size: 20px;
    text-align: right;
    margin: 5px;
}
.botao button{
  border-radius: 12px;
    width: 40px; 
    height: 40px;
    background-color: lightgray;
    margin: 5px;
}

.vs{
    width: 10px;
    height: 10px;
}

body{
    display: flex;
}

.vida{
    
    width: 100%;

}
.barraVida{
    border-radius: 10px;
    width: 85%;
    height: 20px;
    background-color: red;
    transition: width 0.5s ease-in-out;
}

.bordaVida{
    border: 1px solid black;
    border-radius: 10px;
    width: 200px;

}

@keyframes pulse {
  0%,100% { transform: scale(1); }
  50%     { transform: scale(1.2); }
}

.dano{
    animation: pulse 0.8s ease-in-out infinite
}


.tamanhoImagem{
    height: 200px;
    width: 200px;
}

.espacamento{
     display: flex;
  justify-content: center; /* centraliza */
  align-items: center;
  gap: 175px;
}


.botao{
    margin:auto;  
    height: 70px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;   
   
}
.borda-principal{
    background-color: rgb(192, 192, 209);
    margin: auto;
    border: 2px dashed red;
    width: 500px;
    height: 500px;
    
}

.texto{
    font-size: xx-large;
    text-align: center;
}
.div-superior {
  margin-bottom: 150px; /* Cria 20px de espaço abaixo */
}
.div1{
    margin-bottom: 60px;
}

label{
font-family: Impact, sans-serif;
font-weight: 600; /* semibold */
}

